<% @title = 'Security Groups' %>

<p>
    <%= link_to(
        image_tag('add.png', :alt => 'Create a new Security Group'), 
        '#', :onclick => "$('#group_create').toggle();$('#overlay').toggle()"
    ) %> Create a new Security Group
</p>
<br/>

<% @groups.each do |group| %>
    <div id="group_<%= group[:aws_group_name] %>" class="group">
        <b><%= group[:aws_group_name] %></b> <%= group[:aws_description] %>
        <%= link_to(
            image_tag('minus.png', :alt => 'Delete Security Group'), 
            "/group/#{group[:aws_group_name]}/delete", :onclick => "return confirm('Delete Security Group: Are you sure?')" 
        ) %>
        <br/><br/>
            
        <% group[:aws_perms].each do |perm| %>
            <% if perm[:group] %>
                Allow <%= perm[:owner] %> <%= perm[:group] %>
                <%= link_to( 
                    'revoke',
                    "/group/#{group[:aws_group_name]}/revoke?group=#{perm[:group]}&owner=#{perm[:owner]}" 
                )%>
            <% else %>
                Allow <%= perm[:protocol].upcase %> IPs:<%= perm[:cidr_ips] %> Port:<%= perm[:from_port] %>:<%= perm[:to_port] %>
                <%= link_to( 
                    'revoke',
                    "/group/#{group[:aws_group_name]}/revoke?from=#{perm[:from_port]}&to=#{perm[:to_port]}&protocol=#{perm[:protocol]}&ip=#{perm[:cidr_ips]}" 
                )%>
            <% end %>
            <br/>
        <% end %>

        <%= link_to'+ Add new rule', '#', :onclick => "$('#add_rule_#{group[:aws_group_name]}').toggle()" %>
        
        <div id="add_rule_<%= group[:aws_group_name] %>" class="add_rule">
            <form action="/group/<%= group[:aws_group_name] %>/authorize" method="POST">
                <select name="protocol">
                    <option value="tcp">tcp</option>
                    <option value="udp">udp</option>
                    <option value="icmp">icmp</option>
                </select>
                IP <input name="ip" type="text"/>
                From <input name="from" type="text" size="4"/>
                to <input name="to" type="text" size="4"/>
                <input type="submit" value="add"/> <%= link_to 'Cancel', '#', :onclick => "$('#add_rule_#{group[:aws_group_name]}').toggle()" %>
            </form>
        </div>
            
    </div>    
<% end %>

<div id="group_create" class="lightbox">
    <h2>Create A Security Group</h2>
    <form action="/group" method="POST">
        <p>Group Name: <input type="text" name="name" /></p>
        <p>Group Description: <input type="text" name="description" /></p>
        <p><input type="submit" value="create"/> <%= link_to 'Cancel', '#', :onclick => "$('#group_create').toggle();$('#overlay').toggle()" %></p>
    </form>
</div>
<div id="overlay" class="lightbox_overlay"/>