<a name="top"/>

<% @title = 'Images' %>

<div id="images">
    
    <div>
        <div style="float:right">
            <form action="/<%= @project %>/images/search" method="GET">
                Search: <input type="text" name="query" value="<%= params[:query] %>">
                <%= link_to 'All', '/images' %>
            </form>
        </div>
        <div>
            <%= link_to 'i386', '#', :onclick => "$('#x86_64').hide(); $('#i386').show()" %> | 
            <%= link_to 'x86_64', '#', :onclick => "$('#i386').hide(); $('#x86_64').show()" %>
        </div>
        <br clear="all"/>
    </div>
    

    <div id="i386">
      <%= table(@i386, :aws_owner, :aws_location) { |machine| link_to image_tag('add.png', :alt => 'Launch Instance'), "/images/#{machine[:aws_id]}/launch" } %>
    </div>
    
    <div id="x86_64" style="display:none">
      <%= table(@x86_64, :aws_owner, :aws_location) { |machine| link_to image_tag('add.png', :alt => 'Launch Instance'), "/images/#{machine[:aws_id]}/launch" } %>
    </div>
    
    <a href="#top">top</a>
    
</div>