<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">

<head>
    <title><%= @title ? @title + ' | ' : '' %>Snail</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="/style.css" media="screen" rel="Stylesheet" type="text/css"></link>
    <script type="text/javascript" src="/jquery-1.2.6.min.js"></script>
</head>

<body>

<div id="container">

    <%= partial :layout_header %>
    <%= partial :layout_navigation %>

    <div id="main">
        <%= yield %>
    </div>

    <br clear="all"/>
    
    <%= partial :layout_footer %>
    
</div>

</body>

</html>