<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
 "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
   <title><%= @title ? @title + ' | ' : '' %>Snail</title>
   <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
   <link rel="stylesheet" href="http://yui.yahooapis.com/2.5.1/build/reset-fonts-grids/reset-fonts-grids.css" type="text/css">
   <!--[if lt IE 7]><script src="http://ie7-js.googlecode.com/svn/version/2.0(beta3)/IE7.js" type="text/javascript"></script><![endif]-->
   <!--[if lt IE 8]><script src="http://ie7-js.googlecode.com/svn/version/2.0(beta3)/IE8.js" type="text/javascript"></script><![endif]-->
   <link href="/style.css" media="screen" rel="Stylesheet" type="text/css"></link>
   <script type="text/javascript" src="/jquery-1.2.6.min.js"></script>
</head>
<body>
    
<div id="doc4" class="yui-t7">
    <div id="hd">
        <%= partial :layout_header %>
    </div>

    <div id="bd">
        <div class="yui-gf">
            <div id="nav" class="yui-u first">
                <%= partial :layout_navigation %>
            </div>
            <div id="main" class="yui-u">
                <%= yield %>
            </div>
        </div>
    </div>

    <div id="ft">
        <%= partial :layout_footer %>
    </div>
</div>

</body>
</html>